.place__paragraph {
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 1000px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .place__paragraph {
        max-width: calc(100% - 32px);
        margin-left: 16px;
    }
}