.intro__text {
    margin: 40px 0 33px 0;
    max-width: 690px;
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    list-style-type: none;
}