.lead__caption {
    margin: 8px 0 0 0;
    color: #FFFFFF;
    font-family: Inter,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 1150px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 950px) {
    .lead__caption {
        padding-left: 16px;
    }
}