.cover__title {
    font-family: 'Inter',Arial,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 560px;
    margin-bottom: 32px;
    z-index: 2;
}

@media screen and (max-width: 760px) {
    .cover__title {
        font-size: 62px;
        line-height: 65px;
        max-width: 90%;
    }
}

@media screen and (max-width: 615px) {
    .cover__title {
        font-size: 52px;
        line-height: 55px;
    }
}

@media screen and (max-width: 470px) {
    .cover__title {
        font-size: 42px;
        line-height: 45px;
    }
}

@media screen and (max-width: 400px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 75%;
    }
}